[submodule "biblioteca"]
	path = biblioteca
	url = git@github.com:TfernandezFrancou/biblioteca.git
	branch = main
[submodule "carritoDeCompras"]
	path = carritoDeCompras
	url = git@github.com:TfernandezFrancou/carritoDeCompras.git
	branch = main
[submodule "pantallaRegistro"]
	path = pantallaRegistro
	url = https://github.com/ignabisio99/pantallaRegistro.git
	branch = main
[submodule "autodromo"]
	path = autodromo
	url = https://github.com/ignabisio99/autodromo.git
	branch = main
